

.skill-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    gap: 20px;
    overflow: hidden;
}


.Box1{
    --clr : rgb(171, 170, 241);
}

.Box2{
    --clr : rgb(134, 252, 197);
}
.Box3{
    --clr : pink;
}
.Box4{
    --clr : brown;
}
.Box5{
    --clr : rgb(252, 252, 119);
}
.Box6{
    --clr : rgb(255, 89, 89);
}


.box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: var(--clr);
    flex-wrap: wrap-reverse;
    text-align: center;
    transform: translateX(-90%);
    transition: .8s ease-in-out;
    border-radius: 15px;
    padding: 10px 0px ;
}

.box h1 {
    color: rgb(56, 50, 50);
    flex: 1;
    padding: 10px 0px 10px 0px;
}

.inner-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 150px;
    padding: 20px;
}

.box.show{
    transform: translateX(0px);
}


.image-container{
    width: 100px;
    height: auto;
    margin: 0px 20px;
}

.projects_slide_section{
    margin: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
}


.project_scroll_section {
    height: auto;
    width: 100%;
    max-width: 1140px;
    display: flex;
    flex-direction: row;
    overflow-y:hidden;
    overflow-x: auto;
    gap: 20px;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    padding: 15px;
}

/* .isole {
    background-color: #e1f0fb;
}

.jobPair {
    background-color: #cfd3f0;
} */

.project_scroll_section::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}

.project_scroll_section img {
    height: 450px;
    width: auto;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}




@media screen and (max-width: 600px) {
    .project_scroll_section img  {
        height: 350px;
    }
  }